.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: white;
}
    .calculator {
    
        width: 300px;
        height: 450px;
        padding: 20px;
        border-width:thick;
        border-color: black;
        flex-wrap: wrap;
        background-color:white;
    }
        .screen {
            width: 285px;
            height: 50px;
            margin-bottom: 1px;
            color: black;
            text-align: end;
            font-size: 30px;
            background-color: white;
        }
        
        .utilities {
            
            height: 60px;
            display:flex;
            gap:5px;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
        }
            .clear, .delete {
                background-color: darkgrey;
                flex: 1;
                height: 60px;
                font-size: 25px;
            }
        
        .numbers-operators {
            display:flex;
        }    
            .numbers {
        
                display: flex;
                flex: 3;
                flex-wrap: wrap;
                width: 40px;
                height: 40px;
                gap: 5px;
            }
                .numbers button {
                    
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    font-size: 20px;
                    font-weight:bold;
                    background-color: rgba(65, 61, 61, 0.439);

                }
            .operators {
                display: flex;
                flex: 1;
                flex-wrap: wrap;
                gap: 5px;
            }
                .operators button {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    background-color: rgb(166, 78, 11);
                    color: white;
                    font-size: 25px;;
                }

                .rounded-button {
                    background-color: #dc6f16; 
                    border: black;
                    color: rgba(5, 4, 4, 0.863);
                    font-weight:800;
                    padding: 12px 18px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 30px;
                    border-radius: 15px;
                    cursor: pointer;
                    
                  }
                
            