.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 980px;
}
    .calculator {
    
        width: 300px;
        height: 450px;
        padding: 20px;
        background-color: black;
        border-width:thick;
        border-color: black;
        flex-wrap: wrap;
    }
        .screen {
            background-color: rgb(101, 97, 97);
            width: 300px;
            height: 90px;
            margin-bottom: 10px;
            color: rgb(31, 18, 7);
            text-align: end;
            font-size: 40px;
        }
        
        .utilities {
            
            height: 60px;
            display:flex;
            gap:5px;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
        }
            .clear, .delete {
                background-color: darkgrey;
                flex: 1;
                height: 60px;
                font-size: 25px;
            }
        
        .numbers-operators {
            display:flex;
        }    
            .numbers {
        
                display: flex;
                flex: 3;
                flex-wrap: wrap;
                width: 40px;
                height: 40px;
            }
                .numbers button {
                    width: 70px;
                    height: 70px;
                    font-size: 20px;
                    font-weight:bold;
                    background-color: rgb(121, 113, 113);

                }
            .operators {
                display: flex;
                flex: 1;
                flex-wrap: wrap;
            }
                .operators button {
                    width: 70px;
                    height: 70px;
                    background-color: rgb(49, 28, 12);
                    color: white;
                    font-size: 25px;;
                }